body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin: 0;
    padding: 0;
    font-family: 'Microsoft JhengHei';
    font-size: 16px;
}
.grey {
    color: #828282;
}

body {
    position: relative;
}

header {
    background-color: #143159 !important;
    position: absolute;
    top: 0;
    z-index: 100;
}

.banner-box {
    position: relative;
}

.banner-box > h2 {
    font-size: 48px;
    color: #ffffff;
}

@media screen and (max-width: 767px) {
    .policy-container {
        width: 100%;
        position: absolute;
        z-index: 1;
        top: 70px;
    }

    .icon {
        position: fixed;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        z-index: 5;
    }
    .icon > a > img {
        max-width: 60px;
    }

    .area1 {
        width: 100%;
    }
    .area1 > .content {
        width: 100%;
    }
    .area1 > .content > .banner-box {
        width: 100%;
        height: 400px;
        background-image: url('/images/m-info-banner.png');
        background-size: cover; /* 讓圖片覆蓋整個區域 */
        background-position: center; /* 讓圖片居中 */
        background-repeat: no-repeat; /* 防止圖片重複 */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .area1 > .content > .banner-box img {
        width: 100%;
    }
    /* ----- */

    .area2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f5f5f5;
        padding: 80px 0;
    }

    .area2 > .content {
        width: calc(100% - 80px);
        font-weight: 700;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .area2 > .content > .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .area2 > .content > .container > span {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* 底線 */
    .area2 > .content > .container > span::after {
        content: '';
        display: block;
        width: 50%;
        height: 5px;
        background-color: #5db430;
        margin-top: 5px;
    }

    .area2 > .content > .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .area2 > .content > .container > p {
        text-align: center;
    }

    .area2 > .content > .container > a {
        width: fit-content;
        text-align: center;
        background-color: #5db430;
        color: #ffffff;
        padding: 10px 30px;
        border-radius: 20px;
    }

    .area2 > .content > .container > .text-box {
        display: flex;
        gap: 40px;
        margin: 40px 0 0 0;
    }

    .area2 > .content > .container > .text-box > .left {
        width: 350px;
    }
    .area2 > .content > .container > .text-box > .right {
        width: 500px;
    }
    .area2 > .content > .container > .text-box > p {
        width: 100%;
        line-height: 1.5em;
        text-align: center;
        margin: 0 0 80px 0;
    }

    .area2 > .content > .container > .img-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 60px;
    }
    .area2 > .content > .container > .img-box > .item {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .area2 > .content > .container > .img-box > .item > span {
        margin: 40px 0 20px 0;
        font-size: 30px;
    }
    .area2 > .content > .container > .img-box > .item > p {
        width: calc(100% - 40px);
        text-align: center;
    }

    /* ----- */
}

@media screen and (min-width: 768px) {
    .policy-container {
        width: 100%;
        position: absolute;
        z-index: 1;
        position: absolute;
        top: 100px;
    }

    .icon {
        position: fixed;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        z-index: 5;
    }
    .icon > a > img {
        max-width: 60px;
    }

    .area1 {
        width: 100%;
    }
    .area1 > .content {
        width: 100%;
    }
    .area1 > .content > .banner-box {
        width: 100%;
        height: 500px;
        background-image: url('/images/m-info-banner.png');
        background-size: cover; /* 讓圖片覆蓋整個區域 */
        background-position: center; /* 讓圖片居中 */
        background-repeat: no-repeat; /* 防止圖片重複 */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .area1 > .content > .banner-box img {
        width: 100%;
    }
    /* ----- */

    .area2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f5f5f5;
        padding: 80px 0;
    }

    .area2 > .content {
        max-width: 1280px;
        width: calc(100% - 400px);
        font-weight: 700;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .area2 > .content > .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .area2 > .content > .container > span {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* 底線 */
    .area2 > .content > .container > span::after {
        content: '';
        display: block;
        width: 50%;
        height: 5px;
        background-color: #5db430;
        margin-top: 5px;
    }

    .area2 > .content > .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .area2 > .content > .container > p {
        text-align: center;
    }

    .area2 > .content > .container > a {
        width: fit-content;
        text-align: center;
        background-color: #5db430;
        color: #ffffff;
        padding: 10px 30px;
        border-radius: 20px;
    }

    .area2 > .content > .container > .text-box {
        display: flex;
        gap: 40px;
        margin: 40px 0 0 0;
    }

    .area2 > .content > .container > .text-box > .left {
        width: 350px;
    }
    .area2 > .content > .container > .text-box > .right {
        width: 500px;
    }
    .area2 > .content > .container > .text-box > p {
        width: 40vw;
        line-height: 1.5em;
        text-align: center;
        margin: 0 0 80px 0;
    }

    .area2 > .content > .container > .img-box {
        width: 100%;
        display: flex;
        gap: 60px;
    }
    .area2 > .content > .container > .img-box > .item {
        width: calc(100% / 3);
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .area2 > .content > .container > .img-box > .item > span {
        margin: 40px 0 20px 0;
        font-size: 30px;
    }
    .area2 > .content > .container > .img-box > .item > p {
        width: calc(100% - 40px);
        text-align: center;
    }

    /* ----- */
}
